<footer>
  <div class="content-padding">
    <div class="footer-content">
        <p>Copyright &copy; 2016 Mike A.</p>
        <div class="social-media-icons">
          <a href="#"><i class="fa fa-grav"></i></a>
          <a href="#"><i class="fa fa-wikipedia-w"></i></a>
        </div>
    </div>
  </div>
</footer>
